.root {
    -fx-background-color: #f0f8ff;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: #3cb371;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2e8b57;
}

.menu-bar {
    -fx-background-color: #4682b4;
}

.menu-bar .menu {
    -fx-text-fill: white;
}
